KERNEL=="card0", SUBSYSTEM=="drm", ACTION=="change", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="~/.Xauthority", RUN+="/bin/bash ~/.config/i3/monitor-hotplug.sh"  
